/* Define um estilo b�sico para o corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 249, 250);
    /* Fundo claro */
    color: rgb(51, 51, 51);
    /* Cor do texto */
}

/* Estilos para a navbar */
.navbar {
    margin-bottom: 20px;
    background-color: rgb(0, 105, 209);
    /* Cor do fundo da navbar */
}

.navbar {
    background-color: rgba(128, 0, 128); /* Cor roxa */
}

.navbar-brand {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: rgb(0, 125, 209);
    font-weight: bold;
    margin-right: 15px;
}

/* Efeito hover nos links da navbar */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active:hover {
    background: linear-gradient(to right, rgb(87, 0, 128), rgb(177, 0, 177));
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

/* Principal */
main.container {
    padding-top: 40px;
    /* Espa�amento no topo */
    min-height: 70vh;
    /* Altura m�nima da �rea de conte�do */
}

/* Estilos para o rodap� */
.footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(52, 58, 64);
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilo para espa�ar o conte�do dentro da p�gina */
.container {
    padding: 20px;
}

/* Aplique espa�amento vertical em elementos principais */
h1,
h2,
h3,
p {
    margin-bottom: 20px;
}

/* Estilo da p�gina de login */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: rgb(51, 51, 51);
}

/* Estilos para o formul�rio de login */
.login-form .form-group {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.login-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    font-size: 16px;
}

.login-form .form-actions {
    text-align: center;
    margin-top: 20px;
}

.login-form .btn {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(to right, rgb(0, 125, 209), rgb(1, 11, 155));
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-form .btn:hover {
    background: linear-gradient(to right, rgb(87, 0, 128), rgb(177, 0, 177));
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }
}