@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Bem-vindo";
}

<div class="jumbotron">
    <h1 class="display-4">Bem-vindo(a) ao Cadastro Web do Paschoal!</h1>
    <p class="lead">Venha conhecer melhor!</p>
    <hr class="my-4">
    <p>Aproveite todas as funcionalidades que oferecemos para gerenciar seus cadastros.</p>
</div>

